# Based on LLVM style
BasedOnStyle: LLVM
Language: Cpp

# Indentation settings
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach

# Control wrapping of function arguments
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false

# Control alignment
AlignAfterOpenBracket: Align
AlignOperands: false

# Control binary operator breaking
BreakBeforeBinaryOperators: None

# Miscellaneous settings for better readability
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
ColumnLimit: 200

# Disable conflicting alignment settings
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: false
#AlignConsecutiveShortCaseStatements: false

# Control how different code constructs are handled
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

# Brace wrapping settings
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  BeforeElse: true

# Other stylistic preferences
PointerAlignment: Left
